@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Desenvolvido por davinomaurojr@hotmail.com - 2015
    Treinamento Pitang .NET ASP MVC
    Professor: Amirton Chagas</p>
