@{
    ViewBag.Title = "Index";
}

<body>   
    @Html.Action("DatasRetiradaEDevolucao", "Aluguel")
    
    <div id="banner">
        <div class="image"><a href="#"><img src="~/img/banner.jpg" width="1000" height="262" alt="" /></a></div>
    </div>

</body>