@{
    ViewBag.Title = "Libero RENT A CAR";
}

<body>   
    <div id="menu-wrapper">
        <div id="menu">
            <ul>
                <li><a href="~/Aluguel/" accesskey="2" title="">Alugueis</a></li>
                <li><a href="~/Carro/" accesskey="3" title="">Carros</a></li>
                <li><a href="~/Modelo/" accesskey="4" title="">Modelos</a></li>
                <li><a href="~/Fabricante/" accesskey="5" title="">Fabricantes</a></li>
                <li><a href="~/Cliente/" accesskey="6" title="">Clientes</a></li>
                <li><a href="~/Home/Chat" accesskey="1" title="">Chat</a></li>
            </ul>
        </div>
    </div>
    

</body>